.modloop/
bin/
boot/.alpine-release
boot/System.map-rpi
boot/apks/
boot/bcm2710-rpi-3-b-plus.dtb
boot/bcm2710-rpi-3-b.dtb
boot/bcm2710-rpi-cm3.dtb
boot/bcm2711-rpi-4-b.dtb
boot/bcm2837-rpi-3-b-plus.dtb
boot/bcm2837-rpi-3-b.dtb
boot/boot/
boot/bootcode.bin
boot/cache/
boot/cmdline.txt
boot/config-rpi
boot/config.txt
boot/etc/
boot/fixup.dat
boot/initramfs-rpi
boot/overlays/
boot/pidac.apkovl.tar.gz
boot/start.elf
boot/vmlinuz-rpi
dev/
etc/acpi/
etc/alpine-release
etc/apk/keys/alpine-devel@lists.alpinelinux.org-4a6a0840.rsa.pub
etc/apk/keys/alpine-devel@lists.alpinelinux.org-4d07755e.rsa.pub
etc/apk/keys/alpine-devel@lists.alpinelinux.org-5243ef4b.rsa.pub
etc/apk/keys/alpine-devel@lists.alpinelinux.org-5261cecb.rsa.pub
etc/apk/keys/alpine-devel@lists.alpinelinux.org-58cbb476.rsa.pub
etc/apk/keys/alpine-devel@lists.alpinelinux.org-58e4f17d.rsa.pub
etc/avahi/
etc/ca-certificates.conf
etc/ca-certificates/
etc/chrony/
etc/conf.d/agetty
etc/conf.d/alsa
etc/conf.d/bootmisc
etc/conf.d/chronyd
etc/conf.d/consolefont
etc/conf.d/crond
etc/conf.d/devfs
etc/conf.d/dmesg
etc/conf.d/fsck
etc/conf.d/hostname
etc/conf.d/hwclock
etc/conf.d/killprocs
etc/conf.d/klogd
etc/conf.d/localmount
etc/conf.d/modloop
etc/conf.d/modules
etc/conf.d/mtab
etc/conf.d/net-online
etc/conf.d/netmount
etc/conf.d/ntpd
etc/conf.d/rdate
etc/conf.d/sshd
etc/conf.d/staticroute
etc/conf.d/swap
etc/conf.d/syslog
etc/conf.d/urandom
etc/conf.d/watchdog
etc/crontabs/
etc/dbus-1/
etc/dhcpcd.conf
etc/init.d/
etc/inittab
etc/inputrc
etc/issue
etc/local.d/
etc/logrotate.d/
etc/mdev.conf
etc/modprobe.d/
etc/modules
etc/motd
etc/mtab
etc/nanorc
etc/network/if-up.d/
etc/os-release
etc/profile.d/
etc/protocols
etc/pulse/client.conf
etc/pulse/daemon.conf
etc/rc.conf
etc/runlevels/default/pulseaudio
etc/securetty
etc/services
etc/ssh/moduli
etc/ssh/ssh_config
etc/ssl/
etc/sysctl.conf
etc/sysctl.d/
etc/terminfo/
etc/udhcpd.conf
etc/xdg/
lib/
media/
opt/
proc/
root/.ash_history
root/.config/
root/pidac.apkovl.tar.gz
root/pidac.strfry.org/
run/
sbin/
sys/
tmp/
usr/
var/
